<!--=====================================
    Breadcrumb
    ======================================-->  
	
	<div class="ps-breadcrumb">

        <div class="container">

            <ul class="breadcrumb">

                <li><a href="index.html">Home</a></li>

                <li>Login</li>

            </ul>

        </div>

    </div>

    <!--=====================================
    Login - Register Content
    ======================================--> 

    <div class="ps-my-account">

        <div class="container">

            <form 
             (ngSubmit)="onSubmit(f)"
            #f="ngForm"
            class="ps-form--account ps-tab-root needs-validation" 
            novalidate>

                <ul class="ps-tab-list">

                    <li class="active">

                    	<p><a href="login">Login</a></p>
                    </li>

                    <li class="">

                    	<p><a href="register">Register</a></p>
                    </li>

                </ul>

                <div class="ps-tabs">

                    <!--=====================================
                    Login Form
                    ======================================--> 

                    <div class="ps-tab active" id="sign-in">

                        <div class="ps-form__content">

                            <h5>Ingresa a tu Cuenta</h5>

                            <div class="form-group">

                                <input 
                                class="form-control" 
                                type="text" 
                                placeholder="Email address"
                                [(ngModel)]="user.email"
                                name="email"
                                email
                                required>

                                 <div class="valid-feedback">Valid.</div>
                                <div 
                                *ngIf="f.submitted && f.controls['email'].errors"
                                class="invalid-feedback">Campo Requiere Informacion</div>

                            </div>

                            <div class="form-group form-forgot">

                                <input 
                                class="form-control" 
                                type="password" 
                                placeholder="Password"
                                [(ngModel)]="user.password"
                                name="password"
                                required
                                >

                                <div class="valid-feedback">Valid.</div>
                                <div 
                                 *ngIf="f.submitted && f.controls['password'].errors"
                                class="invalid-feedback">Campo Requiere Informacion</div>

                                <a href="#resetPassword" data-toggle="modal">Forgot?</a>

                            </div>

                            <div class="form-group">

                                <div class="ps-checkbox">

                                    <input 
                                    class="form-control" 
                                    type="checkbox" 
                                    id="remember-me" 
                                    name="remember-me"
                                    [(ngModel)]="rememberMe">

                                    <label for="remember-me">Remember me</label>

                                </div>

                            </div>

                            <div class="form-group submtit">

                                <button class="ps-btn ps-btn--fullwidth">Login</button>

                            </div>

                        </div>

                        <div class="ps-form__footer">

                            <p>Connect with:</p> <!-- Botones de Login con F y G 176 -->

                             <ul class="ps-list--social">

                                <li>
                                   <a 
                                    class="facebook" 
                                    style="cursor:pointer"
                                    (click)="facebookLogin()">                                    
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>

                                <li>
                                    <a 
                                    class="google" 
                                    style="cursor:pointer"
                                    (click)="googleLogin()">
                                        <i class="fab fa-google"></i>
                                    </a>
                                </li>

                            </ul>

                        </div>

                    </div><!-- End Login Form Botones de inicio de sesion con F y G -->

                    
                </div>

            </form>

        </div>

    </div>

    <!-- ventana modal para recuperar contraseña 168 sacado de bootstrap4Modal --> 

    <div class="modal" id="resetPassword">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Ingrese Correo Electronico para Recuperar Contraseña</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
      
       <form class="ps-form--account ps-tab-root needs-validation" novalidate> 

            <div class="form-group">
                
                <input 
                type="email" 
                class="form-control" 
                placeholder="Ingrese su direccion de Email"
                name="email"
                #email
                email
                required>

                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Ingrese Informacion Solicitada</div>

            </div>

            <div class="form-group submtit">
                
                <button  
                type="button"
                (click)="resetPassword(email.value)" 
                class="ps-btn ps-btn-fullwidth">Enviar</button>

            </div>

       </form>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
</div> 



<!-- ventana modal para escribir nueva contraseña 169 sacado de bootstrap4Modal --> 

   <div class="modal" id="newPassword">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Password</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        
        <form class="ps-form--account ps-tab-root needs-validation" novalidate>
            
            <div class="form-group">
                
                <input 
                type="password" 
                class="form-control" 
                placeholder="Input your new password"
                name="password"
                #password
                minlength="4"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}"  
                data-toggle="tooltip"
                title="Enter your password with at least 4 characters and must include uppercase, lowercase letters and numbers"
                (change)="validate(password)"
                required>

                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill in this field correctly.</div>

            </div>

            <div class="form-group submtit">

                <button 
                type="button"
                (click)="newPassword(password.value)"
                class="ps-btn ps-btn--fullwidth">Submit</button>

            </div>

        </form>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
